:root {
    --bo: hsl(31, 77%, 52%);
    --dc: hsl(184, 100%, 22%);
    --vdc: hsl(179, 100%, 13%);
    --tw: hsla(0, 0%, 100%, 0.75);
    --vlg: hsl(0, 0%, 95%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  flex-basis: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem; 
}
.section {
    flex-basis: 33.33%;
    padding: 2rem;
}
.section img {
    max-width: 2.5rem;
    height: auto;
    display: block;
    margin-bottom: 1.8rem; 
}
.section h1 {
    color: var(--vlg);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.5rem;
}
.section p {
    color: var(--tw);
    font-size: 13px;
    margin-top: 1rem;
}
.section a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--vlg);
    width: 6rem;
    height: 2rem;
    border-radius: 2rem;
    font-size: 13px;
    margin-top: 1.5rem;
    transition: all 0.2s;
}
.section a:hover {
    background-color: transparent;
    border: 0.15rem solid var(--vlg);
}
#link-one {
    color: var(--bo);
    transition: all 0.2s;
}
#link-one:hover {
    color: var(--vlg);
}
#link-two {
    color: var(--dc);
    transition: all 0.2s;
}
#link-two:hover {
    color: var(--vlg);
}
#link-three {
    color: var(--vdc);
    transition: all 0.2s;
}
#link-three:hover {
    color: var(--vlg);
}
.one {
    background-color: var(--bo);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.two {
    background-color: var(--dc);
}
.three {
    background-color: var(--vdc);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

@media only screen and (min-height: 700px) {
  body {
    height: 100vh;
  }  
}

@media only screen and (min-width:1440px) {
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main {
    width: 58%;
    flex-basis: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: yellow;
}
    .section {
    flex-basis: 33.33%;
    padding: 2rem;
}
    .section img {
    max-width: 2.5rem;
    height: auto;
    display: block;
    margin-bottom: 1.8rem; 
}
    .one {
    background-color: var(--bo);
    border-radius: 0.5rem 0 0 0.5rem;
    
}
    .three {
    background-color: var(--vdc);
    border-radius: 0 0.5rem 0.5rem 0;
}
}